<div class="card">
    <div class="card-content">
        <h2 class="idVenta">{{venta?.idventa}}</h2>
        <p class="idUsuario">{{venta?.usuario}}</p>
        <p class="TipoComprobante">{{venta?.tipocomprobante}}</p>
        <span class="NumComprobante">{{venta?.numcomprobante}}</span>
    </div>
</div>

<div class="card">
    <div class="card-content">
        <h2 class="idVenta">Prueba</h2>
        <p class="idUsuario">Prueba</p>
        <p class="TipoComprobante">Prueba</p>
        <span class="NumComprobante">Prueba</span>
    </div>
</div>
